.form-container {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, $color-black-eight, $color-black-eight);
  z-index: 5001;
  animation: fade-out-scale 0.5s;
}

.display-flex {
  display: flex;
  animation: fade-in-scale 0.5s;
}

.display-none {
  display: none;
}

.modal-form-container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid $color-black;
  border-radius: 1rem;
  background-color: $color-white;
  position: relative;
  background-image: linear-gradient(to bottom right, $color-secondary, $color-contrast, $color-white);
  background-size: 200% 200%;
  animation: gradient-animation 5s ease infinite;
}

.left-side {
  width: 50%;
  height: 95%;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 4rem;
  font-size: $big-font-size;

  &__img {
    background-image: linear-gradient(to right, $color-black-six, $color-black-six), url("src/imgs/hand-shake.jpg");
    background-size: 100% 100%;
    height: 300px;
    position: relative;
    border-radius: 1rem;
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
  }
}

.the-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__name,
  &__email {
    border: none;
    outline: none;
    padding: 1rem 2rem;
    font-size: $big-font-size;
    border-bottom: 3px solid gray;
    border-radius: 1rem;
    transition: all 0.3s;
  }

  &__message {
    border: none;
    outline: none;
    font-size: $big-font-size;
    padding: 2rem;
    height: 150px;
    border-radius: 1rem;
    font-family: sans-serif;
    border-bottom: 3px solid gray;
    resize: none;
  }

  &__button {
    border: none;
    outline: none;
    font-size: $big-font-size;
    background-color: $color-secondary;
    border-radius: 1rem;
    padding: 1rem 2rem;
    align-self: center;
    transition: all 0.3s;
    &:hover {
      background-color: $color-contrast;
      color: $color-white;
      cursor: pointer;
    }
  }
}

.right-side {
  width: 50%;
  height: 95%;
  padding: 2rem;

  &__img {
    background-image: linear-gradient(to right, $color-black-eight, $color-black-six), url("src/imgs/typing.gif");
    background-size: 100% 100%;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $color-contrast;
    cursor: pointer;
    transform: scale(2);

    .close-line {
      background-color: white;
    }
  }
}

.close-line {
  width: 120%;
  height: 3px;
  background-color: $color-white;
  position: absolute;
}

.close-line-1 {
  transform-origin: center;
  transform: rotate(45deg);
}
.close-line-2 {
  transform-origin: center;
  transform: rotate(-45deg);
}

@media only screen and (max-width: 1450px) {
  .modal-form-container {
    width: 40%;
  }
  .left-side {
    width: 100%;
  }
  .right-side {
    display: none;
  }
}
@media only screen and (max-width: 1050px) {
  .modal-form-container {
    width: 85%;
    height: 85%;
  }
}

@media only screen and (max-width: 700px) {
  .left-side {
    &__img {
      margin-top: 1rem;
      background-size: 100% 100%;
    }
  }
}
